* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.2px;
}

h1 {
    margin-bottom: 50px;
    margin-top: 50px;
    letter-spacing: 0.5px;
    text-align: center;
    color: rgb(44, 44, 44);
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8rem 5rem auto 10rem;
    min-height: 100%;
}

header {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 15rem;
    margin-top: 25px;
}

.logo img:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: 0.15s;
}

nav {
    grid-row: 2/3;
    grid-column: 1/2;
}

.nav-menu-top ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

.nav-menu-top li {
    margin: 2rem;
    margin-bottom: 20px;
}

.nav-menu-top li:hover {
    opacity: 0.6;
}

.nav-menu-top li a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.5px;
}

.nav-menu-top li:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: width .3s ease, background-color .3s ease;
}

.nav-menu-top li:hover:after {
    width: 100%;
    background: black;
}

main {
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 0;
}

.main-container {
    width: 100%;
}

.main-container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container-contact iframe {
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-container-contact article {
    margin-bottom: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    max-width: 1000px;
    margin: 50px auto 50px auto;
}

.container-music {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    max-width: 1000px;
    margin: 50px auto 50px auto;
}

.container-pe {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    max-width: 1000px;
    margin: 50px auto 50px auto;
}

.container-wd {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    max-width: 1000px;
    margin: 50px auto 50px auto;
}

.container-dog {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    max-width: 1000px;
    margin: 50px auto 50px auto;
}

.container-gd {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 1252px;
    margin: 50px auto 50px auto;
    background-color: #f7f7f7;
}

.container-info {
    display: flex;
    flex-direction: column;
    margin: 0px auto 0px auto;
    margin-bottom: 50px;
    border: 2px solid black;
    padding: 40px;
    width: 75%;
}

.container-info img {
    width: 33%;
}

.info-text {
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-gd article {
    width: 100%;
    padding: 50px;
}

.tile img {
    width: 100%;
    height: 100%;
}

.tile img:hover {
    opacity: 0.7;
    transition: 0.15s;
}

.tile:nth-child(1) {
    grid-column: span 4;
    grid-row: span 2;
}

.tile:nth-child(2), .tile:nth-child(3) {
    grid-column: span 2;
}

.tile:nth-child(4), .tile:nth-child(5) {
    grid-column: span 3;
}

.tile-music img {
    width: 100%;
    height: 100%;
}

.tile-music img:hover {
    opacity: 0.7;
    transition: 0.15s;
    cursor: pointer;
}

.tile-music:nth-child(1) {
    grid-column: span 4;
    grid-row: span 2;
}

.tile-music:nth-child(2) {
    grid-column: span 2;
}

.tile-music:nth-child(3) {
    grid-column: span 2;
}

.tile-pe {
    grid-column: span 3;
}

.tile-pe img {
    width: 100%;
    height: 100%;
}

.tile-pe img:hover {
    opacity: 0.7;
    transition: 0.15s;
    cursor: pointer;
}

.tile-wd {
    grid-column: span 2;
}

.tile-wd img {
    width: 100%;
    height: 100%;
}

.tile-wd img:hover {
    opacity: 0.7;
    transition: 0.15s;
    cursor: pointer;
}

.tile-dog {
    grid-column: span 1;
}

.tile-dog img {
    width: 100%;
    height: 100%;
}

.tile-dog img:hover {
    opacity: 0.7;
    transition: 0.15s;
    cursor: pointer;
}

.inner-content-gd {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

footer {
    grid-row: 4/5;
    grid-column: 1/2;
    background-color: #dddddd;
}

.social-icons {
    background-color: #dddddd;
    text-align: center;
}

.social-icons a {
    text-decoration: none;
    margin: 50px;
    font-size: 30px;
    color: black;
}

.social-icons a:hover {
    opacity: 0.5;
}

.video {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.artist {
    text-align: center;
    margin-bottom: 50px;
}

/* media queries */

@media only screen and (max-device-width: 620px) {
    iframe {
        width: 500px;
        height: 350px;
    }
}

@media only screen and (max-device-width: 500px) {
    iframe {
        width: 400px;
        height: 250px;
    }
}

@media only screen and (max-device-width: 400px) {
    iframe {
        width: 300px;
        height: 250px;
    }
}

@media screen and (max-width: 650px) {
    .container {
        display: block;
        padding: 20px;
    }
    .tile {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .container-pe {
        display: block;
        padding: 20px;
    }
    .tile-pe {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .container-music {
        display: block;
        padding: 20px;
    }
    .tile-music {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .container-wd {
        display: block;
        padding: 20px;
    }
    .tile-wd {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .container-dog {
        display: block;
        padding: 20px;
    }
    .tile-dogs {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .container-gd {
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .container-gd img {
        width: 500px;
    }
    .container-gd:nth-child(2) {
        flex-direction: column-reverse
    }
    .container-gd article:nth-child(2) {
        padding: 40px;
    }
}

@media screen and (max-width: 650px) {
    .container-gd img {
        width: 480x;
    }
    .container-gd:nth-child(2) {
        flex-direction: column-reverse
    }
}

@media screen and (max-width: 570px) {
    .container-gd img {
        width: 400px;
    }
    .container-gd:nth-child(2) {
        flex-direction: column-reverse
    }
}

@media screen and (max-width: 414px) {
    .container-gd img {
        width: 300px;
    }
    .container-gd:nth-child(2) {
        flex-direction: column-reverse
    }
}

@media screen and (max-width: 414px) {
    .container-gd img {
        width: 300px;
    }
    .container-gd:nth-child(2) {
        flex-direction: column-reverse
    }
}

@media screen and (max-width: 414px) {
    .container-gd article {
        width: 250px;
    }
}

@media screen and (max-width: 414px) {
    .container-gd:nth-child(2) {
        flex-direction: column-reverse;
    }
}